################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Phone/.vs/Phone/v16/Browse.VC.db-shm
/Phone/.vs/Phone/v16
